---
import { Image } from "astro:assets"
import Layout from "../Layouts/layout.astro"
import Card from "../Components/Card.astro"
import anasinfondo from "../Assets/Images/anasinfondo.png"
import Button from "../Components/Button.astro"
import ButtonSecundary from "../Components/ButtonSecundary.astro";
import ProyectoHome from "../Assets/Images/ProyectoHome.png";
import ProyectoReta from "../Assets/Images/ProyectoReta.png";
import mythos from "../Assets/Images/mythos.png";
import github from "/AnitaSecretCode/AnitaSecretCode/Porfolio Nuevo/portfolio/public/github.png";
import fotoportfolio from "../Assets/Images/fotoportfolio.png";
import fotoconfondo from "../Assets/Images/fotoconfondo.png";
import logisticasalemi from "../Assets/Images/logisticasalemi.png";
---


<Layout>
<section class="hero flex flex-col-reverse w-full lg:flex-row justify-center 
lg:gap-32 items-center mb-24 lg:mt-24 lg:mb-24 lg:h-fit">
    
    <div class="hero-text flex flex-col justify-center lg:text-left lg:w-1/4">
                <div>
            <h2 class="text-(--primary-color) font-bold lg:text-8xl mb-6 text-4xl">Ana Peyran </h2>
        </div> 
        <div>
            <p class="mb-8 max-w-[360px] leading-relaxed">
                <span class="text-[#819edc] font-medium">Web developer</span>, enfocada en diseño <span class="underline font-medium">UX/UI</span>. Actualmente apostando por completo a <span class="text-[#819edc] font-medium">CSS + IA</span>, mejorando mis habilidades cada día. Desde Argentina <img src="https://flagcdn.com/w20/ar.png" alt="Bandera de Argentina" class="inline-block w-6 h-4 rounded-sm" />
            </p>
        </div>
        <div>
            <a href="#proyectos"><Button>Ver proyectos</Button></a>
        </div>
    </div> 
    <div class="inverted-radius w-[150px] h-[280px] lg:w-[270px] lg:h-[350px] overflow-hidden mb-8 lg:mb-0 shadow-[0_4px_15px_rgba(255,255,255,0.08)]">
            <Image 
              src={anasinfondo} 
              alt="Foto Ana" 
              class="object-cover object-center w-full" 
            />
    </div>
    
  </section>




  <section class="flex justify-center h-fit ">
  <div class="w-full flex-col lg:gap-8 lg:w-1/2 ">
  <div class="flex flex-col justify-center items-start shadow-[0_4px_15px_rgba(255,255,255,0.08)] p-6 bg-neutral-900 mb-4 lg:mb-8 rounded-xs"> 
    <h2 class="mb-2 text-2xl lg:text-3xl" id="sobremi">Sobre mí</h2>
    <p>
    Soy una desarrolladora web dedicada a crear sitios 
    <span class="text-[#819edc] font-medium">funcionales y centrados en el usuario</span>. 
    Combino una sólida base en 
    <span class="text-[#819edc] font-medium">diseño UX/UI</span> 
    con una implementación de código limpia y eficiente. Además, domino animaciones y microinteracciones en CSS para aportar movimiento, vida y personalidad a cada proyecto. Me encanta aprender: todos los días estudio, experimento y uso <span class="text-[#819edc] font-medium">IA</span> como herramienta para ampliar mis conocimientos, mejorar mis procesos y potenciar mi creatividad.
</p>

  </div>

  <div class="flex items-center justify-center flex-wrap mb-4 lg:mb-8 shadow-[0_4px_15px_rgba(255,255,255,0.08)]  p-6 lg:p-8 bg-neutral-900 rounded-xs" id="skills">
    <div class="lg:w-[450px]">
    <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-linear-to-br cursor-auto"> <span class="relative border-2 border-neutral-900 hover:border-(--light-primary-color) px-5 py-2.5 transition-all ease-in duration-75 rounded-md items-center gap-x-2 flex">  <svg class="size-8 lg:size-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452 520"> <path fill="#e34f26" d="M41 460L0 0h451l-41 460-185 52"></path> <path fill="#ef652a" d="M226 472l149-41 35-394H226"></path> <path fill="#ecedee" d="M226 208h-75l-5-58h80V94H84l15 171h127zm0 147l-64-17-4-45h-56l7 89 117 32z"></path> <path fill="#fff" d="M226 265h69l-7 73-62 17v59l115-32 16-174H226zm0-171v56h136l5-56z"></path> </svg>
 </span> </div>

    <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-linear-to-br cursor-auto"> <span class="relative  px-5 py-2.5 transition-all ease-in duration-75 rounded-md border-2 border-neutral-900  hover:border-(--light-primary-color) items-center gap-x-2 flex"><svg class="size-8 lg:size-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452 520"> <path fill="#0c73b8" d="M41 460L0 0h451l-41 460-185 52"></path> <path fill="#30a9dc" d="M226 472l149-41 35-394H226"></path> <path fill="#ecedee" d="M226 208H94l5 57h127zm0-114H84l5 56h137zm0 261l-124-33 7 60 117 32z"></path> <path fill="#fff" d="M226 265h69l-7 73-62 17v59l115-32 26-288H226v56h80l-6 58h-74z"></path> </svg>
</span> </div>


 <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-linear-to-br cursor-auto"> <span class="relative  px-5 py-2.5 transition-all ease-in duration-75 rounded-md border-2 border-neutral-900  hover:border-(--light-primary-color) items-center gap-x-2 flex"> <svg class="size-8 lg:size-12" viewBox="0 0 256 154" width="256" height="154" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"> <defs><linearGradient x1="-2.778%" y1="32%" x2="100%" y2="67.556%" id="gradient"> <stop stop-color="#2298BD" offset="0%"></stop> <stop stop-color="#0ED7B5" offset="100%"></stop> </linearGradient></defs> <path d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0ZM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8Z" fill="url(#gradient)"></path></svg></span> </div>



 <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-linear-to-br cursor-auto"> <span class="relative  px-5 py-2.5 transition-all ease-in duration-75 rounded-md border-2 border-neutral-900  hover:border-(--light-primary-color) items-center gap-x-2 flex">  <svg class="size-8 lg:size-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="16 16 32 32"><path fill="url(#a)" d="M31.885 16c-8.124 0-7.617 3.523-7.617 3.523l.01 3.65h7.752v1.095H21.197S16 23.678 16 31.876c0 8.196 4.537 7.906 4.537 7.906h2.708v-3.804s-.146-4.537 4.465-4.537h7.688s4.32.07 4.32-4.175v-7.019S40.374 16 31.885 16zm-4.275 2.454a1.394 1.394 0 1 1 0 2.79 1.393 1.393 0 0 1-1.395-1.395c0-.771.624-1.395 1.395-1.395z"></path><path fill="url(#b)" d="M32.115 47.833c8.124 0 7.617-3.523 7.617-3.523l-.01-3.65H31.97v-1.095h10.832S48 40.155 48 31.958c0-8.197-4.537-7.906-4.537-7.906h-2.708v3.803s.146 4.537-4.465 4.537h-7.688s-4.32-.07-4.32 4.175v7.019s-.656 4.247 7.833 4.247zm4.275-2.454a1.393 1.393 0 0 1-1.395-1.395 1.394 1.394 0 1 1 1.395 1.395z"></path><defs><linearGradient id="a" x1="19.075" x2="34.898" y1="18.782" y2="34.658" gradientUnits="userSpaceOnUse"><stop stop-color="#387EB8"></stop><stop offset="1" stop-color="#366994"></stop></linearGradient><linearGradient id="b" x1="28.809" x2="45.803" y1="28.882" y2="45.163" gradientUnits="userSpaceOnUse"><stop stop-color="#FFE052"></stop><stop offset="1" stop-color="#FFC331"></stop></linearGradient></defs></svg>
</span> </div>


 <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-linear-to-br cursor-auto"> <span class="relative  px-5 py-2.5 transition-all ease-in duration-75 rounded-md border-2 border-neutral-900  hover:border-(--light-primary-color) items-center gap-x-2 flex">  <svg class="size-8 lg:size-12" xmlns="http://www.w3.org/2000/svg" width="2500" height="2500" viewBox="0 0 1052 1052"><path fill="#f0db4f" d="M0 0h1052v1052H0z"></path><path d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z" fill="#323330"></path></svg></span> </div>


 <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-linear-to-br cursor-auto"> <span class="relative  px-5 py-2.5 transition-all ease-in duration-75 rounded-md border-2 border-neutral-900  hover:border-(--light-primary-color) items-center gap-x-2 flex">  <svg class="size-8 lg:size-12" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 252"> <path d="M236 194c-14 0-25 1-34 5-3 1-7 1-7 4l3 6c2 3 5 8 9 11l11 8 21 10 11 9 6 4-3-6-5-5c-5-7-11-13-18-18-6-3-18-9-20-15h-1l12-3 18-3 8-2v-2l-9-10c-8-8-18-15-28-22l-18-8c-2-1-6-2-7-4l-7-13-15-30-8-20c-18-30-38-48-68-65-6-4-14-5-22-7l-13-1-8-6C34 5 8-9 1 9c-5 11 7 22 11 28l9 13 3 9c3 8 5 17 9 24l6 10c2 2 4 3 5 6-3 4-3 9-4 13-7 20-4 44 5 59 2 4 9 14 18 10 8-3 6-13 8-22l1-4 8 14c5 9 14 18 22 24 4 3 8 8 13 10l-4-4-9-10c-8-10-14-21-20-32l-7-17-3-6c-3 4-7 7-9 12-3 7-3 17-4 26h-1c-6-1-8-7-10-12-5-12-6-32-1-46 1-4 6-15 4-19-1-3-4-5-6-7l-7-12-10-30-9-13c-3-5-7-8-10-14-1-2-2-5 0-7l2-2c2-2 9 0 11 1 6 3 12 5 17 9l8 6h4c6 1 12 0 17 2 9 3 18 7 25 12 23 14 42 35 54 59 3 4 3 8 5 12l12 26c4 8 7 16 12 23 3 4 14 6 18 8l12 4 18 12c2 2 11 7 12 10Z" fill="#00546B"></path> <path d="m58 43-7 1 6 7 4 9v-1c3-1 4-4 4-8l-2-4-5-4Z" fill="#00546B"></path> </svg></span> </div>



 <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-linear-to-br cursor-auto"> <span class="relative  px-5 py-2.5 transition-all ease-in duration-75 rounded-md border-2 border-neutral-900  hover:border-(--light-primary-color) items-center gap-x-2 flex">  <svg class="size-8 lg:size-12" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256"> <path d="M251.17 116.6 139.4 4.82a16.49 16.49 0 0 0-23.31 0l-23.21 23.2 29.44 29.45a19.57 19.57 0 0 1 24.8 24.96l28.37 28.38a19.61 19.61 0 1 1-11.75 11.06L137.28 95.4v69.64a19.62 19.62 0 1 1-16.13-.57V94.2a19.61 19.61 0 0 1-10.65-25.73L81.46 39.44 4.83 116.08a16.49 16.49 0 0 0 0 23.32L116.6 251.17a16.49 16.49 0 0 0 23.32 0l111.25-111.25a16.5 16.5 0 0 0 0-23.33" fill="#DE4C36"></path> </svg></span></div>


 <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-linear-to-br cursor-auto"> <span class="relative  px-5 py-2.5 transition-all ease-in duration-75 rounded-md border-2 border-neutral-900  hover:border-(--light-primary-color) items-center gap-x-2 flex">  <svg class="size-8 lg:size-12" width="28" height="34" viewBox="0 0 85 107" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M27.5894 91.1365C22.7555 86.7178 21.3444 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4375 78.2199 52.0359 77.7822 59.2232 74.2459C60.0454 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.318 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6845 102.089C39.2087 99.8193 38.5066 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5894 91.1365Z" fill="black"/>
<path d="M27.5894 91.1365C22.7555 86.7178 21.3444 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4375 78.2199 52.0359 77.7822 59.2232 74.2459C60.0454 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.318 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6845 102.089C39.2087 99.8193 38.5066 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5894 91.1365Z" fill="url(#paint0_linear_1_59)"/>
<path d="M0 69.5866C0 69.5866 14.3139 62.6137 28.6678 62.6137L39.4901 29.1204C39.8953 27.5007 41.0783 26.3999 42.4139 26.3999C43.7495 26.3999 44.9325 27.5007 45.3377 29.1204L56.1601 62.6137C73.1601 62.6137 84.8278 69.5866 84.8278 69.5866C84.8278 69.5866 60.5145 3.35233 60.467 3.21944C59.7692 1.2612 58.5911 0 57.0029 0H27.8274C26.2392 0 25.1087 1.2612 24.3634 3.21944C24.3108 3.34983 0 69.5866 0 69.5866Z" fill="black"/>
<defs>
<linearGradient id="paint0_linear_1_59" x1="22.4702" y1="107" x2="69.1451" y2="84.9468" gradientUnits="userSpaceOnUse">
<stop stop-color="#D83333"/>
<stop offset="1" stop-color="#F041FF"/>
</linearGradient>
</defs>
</svg></span></div>

</div>
  </div>


<div class="flex flex-col lg:flex-row mb-4 lg:mb-8 p-6 lg:p-8 xl:p-8 2xl:p-8 bg-neutral-900 shadow-[0_4px_15px_rgba(255,255,255,0.08)] rounded-xs">
  <div><h2 class="mb-2 text-2xl lg:text-3xl" id="proyectos">Proyectos</h2></div>
  <div class="flex items-center justify-center flex-wrap p-8">
  <Card>
      <div slot="image"> 
      <Image 
        src={ProyectoHome} 
        alt="Descripción de la imagen"></Image>
      </div>
      <div slot="titulo">
        Blog Afiliados Home
      </div>
      <div class="mb-2" slot="titulotrasero">Blog de afiliados de Amazon</div>

      {/* ******* CONTENIDO DE LOS BOTONES (CORRECCIÓN) ******* */}
    
    {/* 1. Enlace al Sitio (slot="linkContent") */}
    <a href="https://mythosdelmundo.netlify.app/" slot="linkContent" class="hover:text-blue-600 font-medium">Link</a> 
    
    {/* 2. Enlace a GitHub (slot="githubLink") */}
    <a href="https://github.com/Mapp81/Home.git" slot="githubLink" class="hover:opacity-75 blank">
       <img src="/github.png" alt="GitHub" width="24px" height="24px" />
    </a>
    </Card>


    <Card>
    <div slot="image"> 
    <Image 
        src={mythos} 
        alt="Descripción de la imagen"></Image>
    </div>
    <div slot="titulo">
        Sitio Educativo Mythos
    </div>
    <div class="mb-2" slot="titulotrasero">Sitio educativo</div>
    
    
    {/* ******* CONTENIDO DE LOS BOTONES (CORRECCIÓN) ******* */}
    
    {/* 1. Enlace al Sitio (slot="linkContent") */}
    <a href="https://mythosdelmundo.netlify.app/" slot="linkContent" class="hover:text-blue-600 font-medium">Link</a> 
    
    {/* 2. Enlace a GitHub (slot="githubLink") */}
    <a href="https://github.com/Mapp81/Mythos.git" slot="githubLink" class="hover:opacity-75 blank">
        <img src="/github.png" alt="GitHub" width="24px" height="24px"/>
    </a>
    
</Card>


    <Card>
      <div slot="image"> 
      <Image 
        src={ProyectoReta} 
        alt="Descripción de la imagen"
        class="w-48"></Image>
      </div>
      <div slot="titulo">
       Web Turística Reta
      </div>
      <div class="mb-2" slot="titulotrasero">Web personal para promocionar el balneario</div>

      {/* ******* CONTENIDO DE LOS BOTONES (CORRECCIÓN) ******* */}
    
    {/* 1. Enlace al Sitio (slot="linkContent") */}
    <a href="https://mythosdelmundo.netlify.app/" slot="linkContent" class="hover:text-blue-600 font-medium">Link</a> 
    
    {/* 2. Enlace a GitHub (slot="githubLink") */}
    <a href="https://github.com/Mapp81/Mythos.git" slot="githubLink" class="hover:opacity-75 blank">
        <img src="/github.png" alt="GitHub" width="24px" height="24px"/>
    </a>
    </Card>


    <Card>
      <div slot="image"> 
      <Image 
        src={logisticasalemi} 
        alt="Descripción de la imagen"></Image>
      </div>
      <div slot="titulo">
        Sitio empresa
      </div>

      <div class="mb-2" slot="titulotrasero">Sitio para empresa de logística</div>

      {/* ******* CONTENIDO DE LOS BOTONES (CORRECCIÓN) ******* */}
    
    {/* 1. Enlace al Sitio (slot="linkContent") */}
    <a href="https://mythosdelmundo.netlify.app/" slot="linkContent" class="hover:text-blue-600 font-medium">Link</a> 
    
    {/* 2. Enlace a GitHub (slot="githubLink") */}
    <a href="https://github.com/Mapp81/Logistica-Salemi-2025.git" slot="githubLink" class="hover:opacity-75 blank">
        <img src="/github.png" alt="GitHub" width="24px" height="24px"/>
    </a>
    </Card>
 </div>  
</div>



  <div class="flex items-center justify-center flex-wrap md:p-32 shadow-[0_4px_15px_rgba(255,255,255,0.08)]  p-6 bg-neutral-900 rounded-xs">4</div>


</div>
</section>


  <section class="proyectos">
    

  </section>

  <style>
    /* HTML: <div class="inverted-radius"></div> */
.inverted-radius {
  --r: 20px; /* the radius */
  --s: 30px; /* size of inner curve */
  --x: 20px; /* horizontal offset (no percentage) */
  --y: 10px; /* vertical offset (no percentage) */
  
  width: 250px;
  aspect-ratio: 1;
  background: #819edc;
  border-radius: var(--r);
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
  --_g:conic-gradient(at var(--r) var(--r),#000 75%,#0000 0);
  --_d:(var(--s) + var(--r));
  mask:
    calc(var(--_d) + var(--x)) 0 var(--_m),
    0 calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 0 0,#0000 99%,#000 calc(100% + 1px)) 
     calc(var(--r) + var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(var(--_d) + var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}
  </style>


</Layout>

